<header class= "page-header-about">
  <h1>About us</h1>
</header>

<div class= "alert alert-info bg-light text-dark">
<p>Welcome to our company, a premier destination for all your plant needs! We are dedicated to providing our customers with the highest quality plants available, coupled with exceptional customer service and a commitment to sustainability.</p>
</div>




